<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/static/style/common/normal.css" />
    {% block link %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div> 
    
    <script>
        window.globals = window.globals || { };
    </script>
    {% block script %}{% endblock %}
</body>
</html>
